<nav class="navbar navbar-expand-lg calm-navbar fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/home"><i class="fa fa-home"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/room-schedule" id="nav-schedule">טבלת חדרים</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/room-form" id="nav-edit">עריכה</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/messages" id="nav-messages">הודעות</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout" id="nav-signout">התנתק/י</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div style="height:56px;"></div>