<div class="container-lg">
    <div class="background-container">
        <nav class="navbar navbar1">
            <h3 style="font-size: 28px;">חדר <%= roomNumber %></h3>
            <button class="back-btn"><i class="fa fa-home fa-1x"></i></button>
        </nav>

        <div class="calendar-container">
            <div class="calender-item">
                <%= new Date().toLocaleString('he-IL', { timeZone: 'Asia/Jerusalem', hour12: true, hour: 'numeric', minute: 'numeric' }) %>
            </div>

            <div>
                <% if (currentTherapist) { %>
                <span style="color: green;"><%= currentTherapist.name %> בטיפול עד
                    <%= currentTherapist.endTime %></span>
                <% } else { %>
                <p>החדר פנוי</p>
                <% } %>
            </div>
        </div>
    </div>
</div>